@import '../../style/abstracts/function';

$chats-prefix-cls: 'chats';

.#{$chats-prefix-cls} {
  padding: rem(20px);

  &-favourites {
    margin: rem(24px) 0;

    &-item {
      display: inline-block;
      text-align: center;
      color: inherit;
      outline: none;
      cursor: pointer;

      &:active,
      &:hover,
      &:focus {
        text-decoration: none;
        color: inherit;
      }

      &:not(:last-child) {
        margin-right: rem(24px);
      }

      &-avatar {
        display: block;
        margin-bottom: rem(8px);
      }

      &-title {
        display: block;
        font-size: rem(13px);
        line-height: 20px;
      }
    }
  }
}