@import '../../style/abstracts/function',
        '../../style/abstracts/mixins';

$navbar-prefix-cls: 'navbar';

.#{$navbar-prefix-cls} {
  margin-bottom: 0;
  padding: rem(8px) 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;

  @include respond-to('lg') {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include respond-to('xl') {
    flex-direction: column;
    justify-content: center;
  }

  &-item {
    @include respond-to('xl') {
      margin-top: rem(40px);
    }
  }

  &-item-blank {
    display: none;

    @include respond-to('xl') {
      display: block;
      flex-grow: 1;
    }
  }
}